<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>animation001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 67}, {27, 13}}</string>
			<key>spriteOffset</key>
			<string>{-8, -11}</string>
			<key>spriteSize</key>
			<string>{27, 13}</string>
			<key>spriteSourceSize</key>
			<string>{125, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 26}, {27, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>animation002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 67}, {29, 13}}</string>
			<key>spriteOffset</key>
			<string>{-9, -11}</string>
			<key>spriteSize</key>
			<string>{29, 13}</string>
			<key>spriteSourceSize</key>
			<string>{125, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{30, 0}, {29, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>animation003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 67}, {29, 13}}</string>
			<key>spriteOffset</key>
			<string>{-8, -11}</string>
			<key>spriteSize</key>
			<string>{29, 13}</string>
			<key>spriteSourceSize</key>
			<string>{125, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 13}, {29, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>animation004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>animation006.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 67}, {27, 13}}</string>
			<key>spriteOffset</key>
			<string>{-8, -11}</string>
			<key>spriteSize</key>
			<string>{27, 13}</string>
			<key>spriteSourceSize</key>
			<string>{125, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{29, 13}, {27, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>animation005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 67}, {31, 13}}</string>
			<key>spriteOffset</key>
			<string>{-8, -11}</string>
			<key>spriteSize</key>
			<string>{31, 13}</string>
			<key>spriteSourceSize</key>
			<string>{125, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {31, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{64, 64}</string>
		<key>name</key>
		<string>morse-dust.zwd</string>
		<key>textureFileName</key>
		<string>morse-dust.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>