<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>will-sad-1-happy-head.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 100}, {48, 36}}</string>
			<key>spriteOffset</key>
			<string>{-11, 7}</string>
			<key>spriteSize</key>
			<string>{48, 36}</string>
			<key>spriteSourceSize</key>
			<string>{250, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 45}, {48, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>will-sad-1-head-outline.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 101}, {46, 36}}</string>
			<key>spriteOffset</key>
			<string>{-12, 6}</string>
			<key>spriteSize</key>
			<string>{46, 36}</string>
			<key>spriteSourceSize</key>
			<string>{250, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{56, 4}, {46, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>will-sad-1-head.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 100}, {48, 36}}</string>
			<key>spriteOffset</key>
			<string>{-11, 7}</string>
			<key>spriteSize</key>
			<string>{48, 36}</string>
			<key>spriteSourceSize</key>
			<string>{250, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 84}, {48, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>will-sad-1-left-foot-outline.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>will-sad-1-off-left-foot-outline.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{120, 136}, {20, 12}}</string>
			<key>spriteOffset</key>
			<string>{5, -17}</string>
			<key>spriteSize</key>
			<string>{20, 12}</string>
			<key>spriteSourceSize</key>
			<string>{250, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{71, 108}, {20, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>will-sad-1-left-foot.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{125, 139}, {14, 8}}</string>
			<key>spriteOffset</key>
			<string>{7, -18}</string>
			<key>spriteSize</key>
			<string>{14, 8}</string>
			<key>spriteSourceSize</key>
			<string>{250, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{121, 107}, {14, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>will-sad-1-off-head-outline.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 103}, {46, 36}}</string>
			<key>spriteOffset</key>
			<string>{-12, 4}</string>
			<key>spriteSize</key>
			<string>{46, 36}</string>
			<key>spriteSourceSize</key>
			<string>{250, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{55, 45}, {46, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>will-sad-1-off-head.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{90, 102}, {48, 38}}</string>
			<key>spriteOffset</key>
			<string>{-11, 4}</string>
			<key>spriteSize</key>
			<string>{48, 38}</string>
			<key>spriteSourceSize</key>
			<string>{250, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 4}, {48, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>will-sad-1-off-left-foot.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{125, 139}, {14, 8}}</string>
			<key>spriteOffset</key>
			<string>{7, -18}</string>
			<key>spriteSize</key>
			<string>{14, 8}</string>
			<key>spriteSourceSize</key>
			<string>{250, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{121, 29}, {14, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>will-sad-1-off-right-foot-outline.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 144}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{-11, -26}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{250, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{105, 29}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>will-sad-1-off-right-foot.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{108, 145}, {10, 12}}</string>
			<key>spriteOffset</key>
			<string>{-12, -26}</string>
			<key>spriteSize</key>
			<string>{10, 12}</string>
			<key>spriteSourceSize</key>
			<string>{250, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{93, 108}, {10, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>will-sad-1-off-torso-outline.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>will-sad-1-torso-outline.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{96, 130}, {36, 22}}</string>
			<key>spriteOffset</key>
			<string>{-11, -16}</string>
			<key>spriteSize</key>
			<string>{36, 22}</string>
			<key>spriteSourceSize</key>
			<string>{250, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{55, 84}, {36, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>will-sad-1-off-torso.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{97, 130}, {34, 20}}</string>
			<key>spriteOffset</key>
			<string>{-11, -15}</string>
			<key>spriteSize</key>
			<string>{34, 20}</string>
			<key>spriteSourceSize</key>
			<string>{250, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{95, 84}, {34, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>will-sad-1-right-foot-outline.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 144}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{-11, -26}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{250, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{55, 108}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>will-sad-1-right-foot.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{108, 145}, {10, 12}}</string>
			<key>spriteOffset</key>
			<string>{-12, -26}</string>
			<key>spriteSize</key>
			<string>{10, 12}</string>
			<key>spriteSourceSize</key>
			<string>{250, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{107, 107}, {10, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>will-sad-1-shadow.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 136}, {52, 22}}</string>
			<key>spriteOffset</key>
			<string>{-10, -22}</string>
			<key>spriteSize</key>
			<string>{52, 22}</string>
			<key>spriteSourceSize</key>
			<string>{250, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{105, 4}, {52, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>will-sad-1-torso.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{97, 130}, {34, 20}}</string>
			<key>spriteOffset</key>
			<string>{-11, -15}</string>
			<key>spriteSize</key>
			<string>{34, 20}</string>
			<key>spriteSourceSize</key>
			<string>{250, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{106, 45}, {34, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 128}</string>
		<key>name</key>
		<string>will-sad-1.zwd</string>
		<key>textureFileName</key>
		<string>will-sad-1-hd.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>